img.hover-shadow{
    transition:0.3s;
    width: 200px;
    cursor: pointer;
}

.row2 , .row4{
  height: 300px;
}

.row1, .row3{
  height: 50px;
}

div.row1 div{
  float: left;
  margin-left: 150px;
  font-size: 1.5em;
}

div.row1 div:last-child{
  float: left;
  margin-left: 450px;
}
div.row2 .column{
  float: left;
}

.row2 img{
  margin-left: 150px;
}

.row2 .column img#InspiredDress2{
  margin-left: 512px;
}

div.row3 div{
  float: left;
  margin-left: 150px;
  font-size: 1.5em;
}

div.row3 div:last-child{
  float: left;
  margin-left: 537px;
}

div.row4 .column{
  float: left;
}

.row4 img{
  margin-left: 150px;
}

.row4 .column img#InspiredDress4{
  margin-left: 512px;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
 .row.hoverDisplay {
   position:absolute;
   left:0;
   top: 0;
   display: none;
 }

 .row:hover.hoverDisplay {
   display: block;
 }
  
  .column {
    float: left;
    width: 25%;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: center;
    margin: auto;
    max-width: 500px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: 10px;
    padding: 20px;
    margin-top: 50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev{
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: white;
    color: black;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 20px;
    padding: 22px 3px;
    position: absolute;
    top: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  