div.product{
    border: 1px solid white;
    margin: 30px 20px;
    height: 300px;
    width: 1200px;
}

div.product img{
    width: 200px;
    max-height: 200px;
    margin-left: 50px;
    margin-top: 50px;
}

div.product p{
    margin-left: 300px;
    width: 500px;
    color: white;   
    margin-top: -135px;
}

div.product p#quantity{
    margin-top: -75px;
    margin-left: 1000px;
}

input{
    margin: 30px 0;
}

input{
    background: gray;
    color: white;
}

input::placeholder{
    color: white;
}       

input#verification{
    width: 200px;
    margin-left: -61px;
}

input#address{
    width: 700px;
}

label{
    margin-left: 20px;
    padding-right: 100px;
    color: white;
}

button{
    width: 100px;
    margin-left: 30px;
}

button#check{
    margin-left: 900px;
    width: 150px;
}

legend{
    font-size: 2em;
    color: white;
    padding: 0 20px;
}