footer{
    background-color: rgba(0, 0, 0, 1);
    color: white;
    flex: 0;
}


footer img{
    width: 400px;
    margin-left: 393px;
}

footer#move{
    background-color: rgba(0, 0, 0, 1);
    color: white;
}
