html{
    background-image: url(../../Lim\ Wei\ Yang/Image/Background.jpg);
    background-size: 50%;   
}

body{
    margin: 0 auto;
    width: 100%;
    min-width: 640px;
    max-width: 1280px;
    background: rgba(0, 0, 0, 0.8);
    flex: 0;
}