html{
    background-image: url(../Image/Background.jpg);
    background-size: 50%;   
}

body{
    margin: 0 auto;
    width: 100%;
    min-width: 640px;
    max-width: 1280px;
    background: rgba(236, 238, 238, 0.877);
    flex: 0;
}